@model Bibliofile.Models.Books

@{
    ViewData["Title"] = "Details";
}

<h2> Book Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dd>
           <img src="@Html.DisplayFor(model => model.Image)" width="125" height="200"/>
        </dd>  
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)  
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)  
        </dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookId" class="btn btn-info">Edit</a>     
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
