@model IEnumerable<Bibliofile.Models.Books>

@{
    ViewData["Title"] = "To Read";
}

<h2>Books To Read</h2>

    <div class="searchBox">
        @using (Html.BeginForm())
        {
            @Html.TextBox("SearchString")
        
                <div class="input-group input-group-lg">
                            <input asp-area="" asp-controller="Books" asp-action="Search" type="submit" class="btn btn-danger btn-sm" value="Search Collection!" />
                        </div>
                        <br>
            }
                        <p>
                            <a asp-action="Create" class="btn btn-info btn-sm">Create New</a>
                        </p>
    </div>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRead)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Image)" width="100" height="155" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                <form asp-action="MakeBookRead">
                    <input type="hidden" value="@item.BookId" name="id">
                   <input  class="btn btn-info" type="submit" value="Make as Read"> 
                </form>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-info">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.BookId" class="btn btn-warning">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.BookId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
