@model IEnumerable<Bibliofile.Models.ToRead>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRead)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Image)" width="100" height="155" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-info">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.BookId" class="btn btn-warning">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.BookId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
